/*Table Content
==========================
    # General
        - title-head
        - custom-btn
    # Links
    # Headings
    # form-group
    # Lists
        - nav-list
        - foot-list
        - foot-socail
        - package-list
    # Images
    # Nav
*/


/* General
======================= */
 @import url('https://fonts.googleapis.com/css?family=Cairo:300,700');
body{
    font-size: 16px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #f7f7fb;
    font-family: 'Cairo', sans-serif;
    
}
.wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.main {

}
/* custom-btn */
.custom-btn{
    border: none;
    background: #0d5384;
    color: #FFF;
    border-radius: 35px;
    position: relative;
    overflow: hidden;
    padding: 10px 40px;
    z-index: 2; 
}
.custom-btn svg{
    margin: 0 5px
}
.custom-btn:after{
    content: "";
    position: absolute; 
    top:50%;
    left: 0;
    width: 100%;
    height: 0%;
    background: #ffc527; 
    z-index:-1;
    transition: all 0.2s ease-in-out
}
.custom-btn:before{
    content: "";
    position: absolute; 
    bottom:50%;
    left: 0;
    width: 100%;
    height: 0%;
    background: #ffc527; 
    z-index:-1;
    transition: all 0.2s ease-in-out
}
.custom-btn:hover:before,
.custom-btn:hover:after{
    height: 50%
}
/* title-head */
.title-head{
    margin-bottom: 40px;
}
.title-head.black h3:after{
    background: #222
}
.title-head h3{
    position: relative;
    font-size: 35px;
    font-weight: bold;
}
.title-head h3:after{
    content: "";
    position: absolute;
    bottom: -20px;
    left: calc(50% - 50px);
    width: 100px;
    height: 3px;
    background: #FFF
}

.box-shadow{
    box-shadow:  0 0 12px -3px #0009
}
.noPadding{
    padding: 0
}
.scrollbar{
    max-height: 400px;
    overflow-y: scroll;
}
.f-left{
    float: left
}
.green{
    color:#00b237 !important
}

/*barndTop
=================== */
.barndTop{
    position: absolute;
    top: 20px;
    left: calc(50% - 15px);
    width: 30px;
    height: 30px;
}
/*  Jquery UI
================== */
.ui-menu .ui-menu-item,
.ui-selectmenu-text{
    color: #7b859d;
    font-family: 'Cairo', sans-serif;
}
.ui-state-active, 
.ui-widget-content .ui-state-active, 
.ui-widget-header .ui-state-active, 
.ui-button.ui-state-active:hover{
    background: #796eff   
}
.ui-icon-triangle-1-s {
    background-position: -65px 0px;
}
.ui-selectmenu-button.ui-button{
    background: #FFf;
    border: 1px solid #7b859d;
    transition: all 0.3s ease-in-out
}
.ui-selectmenu-button.ui-button:hover,
.ui-selectmenu-button.ui-button:focus{
    border-color: #000;
    box-shadow: none
}
.form-group.custom span{
    display: inline-block;
    margin-top: 13px
}
.form-group.custom{
    margin-top: 15px;
    overflow: hidden
}
.form-group.custom label{
    display: inline-block;
    margin-top: 10px
}
.datepicker{
    float: left;
    width: 80%;
    margin-bottom: 20px;
}
.datepicker + span{
    position: absolute;
    top: 15px;
    left: 25px;
}
@media(max-width:767px){
    .datepicker + span{
        top: 0px
    }
}
/* form-group 
=================== */
.form-group{
    color: #7b859d;
    margin-bottom: 10px;
}
.form-group select{
    display: block;
    padding: 5px;
    margin-top: 4px;
    box-shadow: none;
    border: 1px solid #7b859d;
    transition: all 0.3s ease-in-out;
    width: 100%;
}
.form-group textarea{
    resize: vertical
}
.form-group label{
    display: block;
    font-weight: 300 ;
}
.form-group label.red{
    color: #e51931;
    margin-top: 4px
}
.form-group .form-control{
    display: block;
    padding: 20px 10px;
    margin-top: 4px;
    box-shadow: none;
    border: 1px solid #7b859d;
    transition: all 0.3s ease-in-out
}
.form-group .form-control:hover{
    border-color: #000
}

/* Base for label styling */
[type="checkbox"]{
    position: absolute;
/*    left: -9999px;*/
    display: none
}
[type="checkbox"] + label {
    position: relative;
    padding-right: 30px;
    cursor: pointer;
    color: #2b2929;
    font-size: 14px;
    margin-left: 15px;
}

/* checkbox aspect */
[type="checkbox"] + label:before {
    content: '';
    position: absolute;
    right: 0; top: 0;
    width: 1.25em; height: 1.25em;
    background-color: #796eff;
    border-radius: 5px;
    border: 1px solid #d2d2d2
}
[type="checkbox"]:not(:checked) + label:before {
    background-color: transparent;
}
[type="checkbox"]:checked + label:before{
    border: 1px solid #796eff
}
/* checked mark aspect */

[type="checkbox"] + label:after {
  content: '✔';
  position: absolute;
  top: .1em; right: .1em;
  font-size: 1.3em;
  line-height: 0.8;
  color: #2b2929;
  -webkit-transition: all 0.3s ease-out;
       -moz-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
}
[type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled + label:before {
    box-shadow: none;
    border-color: #bbb;
    background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}

/* Links
==========================*/
a{
    color: inherit
}
a, a:hover, a:focus{
    text-decoration: none;
}
/* Headings 
========================== */
h1, h2, h3, h4, h5, h6 {
    display: block;
    margin: 0;
}
p{
    margin: 0;
}
/*Lists
==========================*/
ul {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}
/* navbar  */
ul.navbarList{
    margin: 0
}
ul.navbarList li:first-child{
    margin-right: 0
}
ul.navbarList li{
    display: inline-block;
    color: #0c0e19;
    margin: 0 25px
}
ul.navbarList li:not(:first-child).active,
ul.navbarList li:not(:first-child):hover{
    color: #796eff
}
ul.navbarList li a{
    color: inherit
}
ul.navbarList li .form-group{
    position: relative;
    width: 200px;
    display: inline-block;
}
ul.navbarList li .form-group .form-control{
    padding: 0 30px
}
ul.navbarList li .form-group span{
    font-size: 13px
}
ul.navbarList li .form-group span.search{
    position: absolute;
    top: 12px;
    right: 5px;
    color: #796eff
}
ul.navbarList li .form-group span.arrow{
    position: absolute;
    top: 12px;
    left: 10px;
    color: #a49dae
}
/* user-info*/
ul.user-info{
    
}
ul.user-info li{
    display: inline-block;
    margin: 0 13px;
    vertical-align: middle;
    position: relative
}
ul.user-info li:first-child{
    margin: 0
}
ul.user-info li a{
    color: #a49dae;
    position: relative;
    font-size: 20px;
}
ul.user-info li:last-child a{
    color: #000;
    font-size: 15px
}
ul.user-info li a span{
    display: inline-block;
    
}
ul.user-info li a span.notif{
    background: #ff374f;
    color: #FFF;
    text-align: center;
    line-height: 17px;
    border: 1px solid #fff;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: -12px;
    font-size: 12px;
}
ul.user-info li a img{
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-left: 10px;
}
ul.user-info li:last-child a span{
    margin-left: 10px
}
ul.user-info li a svg{
    
}
@media(max-width:1200px){
    ul.user-info li,
    ul.navbarList li{
        margin: 0 15px
    }
    ul.navbarList li:last-child,
    ul.user-info li:last-child{
        margin: 0
    }
}
/* dropMenu */

ul.dropMenu{
    background: #FFF;
    padding: 15px;
    position: absolute;
    top:calc(100% + 40px );
    left: calc(50% - 200px);
    width: 400px;
    visibility: hidden;
    opacity: 0.3;
    z-index: 99;
    transition: all 0.3s ease-in-out 
}
ul.dropMenu.small{
    left: calc(50% - 100px);
    width: 200px;
    padding: 10px 0
}
ul.dropMenu.small li{
    
}
ul.dropMenu.small li a{
    padding: 10px 20px;
    display: block;
    transition: all 0.3s ease-in-out
}
ul.dropMenu.small li a:hover{
    background:#796eff ;
    color: #FFF
}
ul.user-info li:hover ul.dropMenu{
    visibility: visible;
    opacity: 1;
    top:calc(100% + 20px );
}
ul.dropMenu:after{
    content: "";
    position: absolute;
    bottom: 100%;
    left: calc(50% - 10px);
    border-bottom-color: #FFF;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    border-style: solid;
    border-width: 10px;
}
ul.dropMenu li{
    width: 100%;
    margin: 0
}
ul.dropMenu li a{
    margin-bottom: 8px;
    display: block;
}
ul.dropMenu li:last-child a{
    margin-bottom: 0
}
ul.dropMenu li .alert{
    width: 100%;
    margin: 0;
    font-size: 13px;
    border-radius: 0
}
ul.dropMenu li .alert.alert-light{
    background: #b1dced;
    color: #63656b
}
ul.dropMenu li .alert svg{
    margin-left: 10px;
}
@media(max-width:991px){
    .customStyle {
        position: absolute;
        top: 10px;
        left: 15px
    }
    .navbar-toggle{
        display: block;
        margin: 0;
        background:#796eff ;
        color: #FFF;
        transition: all 0.3s ease-in-out
    }
    .navbar-toggle:hover.
    .navbar-toggle:focus{
        background:#222 ;
    }
    .navbar-collapse.collapse {
        display: none!important
    }
    .navbar-collapse.collapse.in {
        overflow: hidden!important;
        display: block!important
    }
    ul.navbarList li{
        display: block;
        width: 100%;
        margin: 10px auto;
        text-align: center
    }
    ul.navbarList li .form-group{
        width: 100%;
    }
}
/* FooterList */
.footerList{
    margin-bottom: 30px
}
.footerList li {
    margin-bottom: 15px
}
@media(max-width:767px){
    .footerList{
        text-align: center
    }
}
/* footerSocail */
.footerSocail{
    color: #FFF;
    font-size: 18px
}
.footerSocail li {
    display: inline-block;
    margin: 0 10px 
}
/* Images
=========================== */
img{
    display: block;
    max-width: 100%;
    height: auto;
}
/* Section Setting
============================ */ 
.section-lg{
    padding: 50px 0;
}
.section-md{
    padding: 35px 0
}
.margin{
    margin: 30px 0 
}
.space{
    margin: 20px 0
}
/* center-widget 
===========================*/
.center-widget{
    background: #FFF;
    width: 80%;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
}
.center-widget .bg{
    color: #FFF;
    padding: 30px 70px;
    position: relative
}
.center-widget .bg img{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: -1
}
.center-widget .bg h3{
    margin-bottom: 20px;
}
.center-widget .bg p {
    line-height: 1.8;
    margin-bottom: 20px
}
.center-widget form{
    padding: 30px 110px ;
}
.center-widget form h3 {
    margin-bottom: 20px
}
.center-widget form input{
    
}
.center-widget form input[type="submit"]{
    width: auto
}
/*  socailRegister */
.socailRegister{
    color: #FFF;
    font-size: 13px
}
.socailRegister a{
    margin-bottom: 10px;
    display: block;
    border-radius: 5px;
    color: inherit;
    overflow: hidden
}
.socailRegister a:hover{
    opacity: 0.9
}
.socailRegister a .icon{
    width: 35px;
    height: 35px;
    line-height: 35px;
    display: inline-block;
    text-align: center;   
}
.socailRegister a .text {
    display: inline-block;  
    text-align: center;
    width: calc(100% - 40px)
}
.socailRegister a.facebook{
    background: #3b5998;
}
.socailRegister a.facebook .icon{
    background: #36528c
}
.socailRegister a.twitter{
    background: #1da1f2;
}
.socailRegister a.twitter .icon{
    background: #1a91d9
}
.socailRegister a.google{
    background: #dd4b39;
}
.socailRegister a.google .icon{
    background: #c64333
}
@media(min-width:1400px){
    .center-widget{
        width: 50%;
    }
    .center-widget form{
        padding: 50px ;
    }
}
@media(max-width:1200px){
    .center-widget form{
        padding: 20px ;
    }
}
@media(max-width:996px){
    .center-widget{
        position: static;
        top: auto;
        left: auto;
        transform: translate(0,0);
    }
}
@media(max-width:767px){
    .center-widget{
        width: 95%;
        position: static;
        top: auto;
        left: auto;
        transform: translate(0,0);
        margin-top: 70px;
    }
    .center-widget form{
        padding: 20px ;
    }
}
/* header 
============================= */
header{
    background: #FFF;
    box-shadow: 0 0 5px -2px #009;
    padding: 10px 0
}
header .brand{
    width: 40px;
    height: 40px;
}
header .brand img {
    
}
header nav{
    
}
/* footer
========================= */
footer{
    background: #0c0e19;
    color: #848590
}
footer .topFooter{
    border-bottom: 2px solid #000;
}
footer .bottomFooter{
    padding: 40px 0
}
/* topPage 
===================== */
.topPage {
    
}
ul.tabs {
    
}
ul.tabs li{
    display: inline-block;
    margin-left: 35px;
}
ul.tabs li a{
    position: relative;
    transition: all 0.3s ease-in-out
}
ul.tabs li a:after{
    content: "";
    position: absolute;
    bottom: -5px;
    right: 0;
    height: 2px;
    background: #796eff;
    width: 0%;
    transition: all 0.3s ease-in-out
}
ul.tabs li.active a:after,
ul.tabs li:hover a:after{
    width: 100%
}
ul.tabs li.active a,
ul.tabs li:hover a{
    color: #796eff
}
/* register tab*/
.register ul.tabs{
    margin: 20px 0;
    text-align: center
}
/* whiteBox 
========================== */

.whiteBox{
    background: #FFF;
    padding: 40px 20px;
    box-shadow: 0 0 6px -3px #0008;
    margin-bottom: 20px
}
.whiteBox .hr{
    width: calc(100% + 40px);
    margin-right: -20px;
}
.whiteBox .boxTitle{
    
}
.whiteBox .boxTitle h4 {
    display: inline-block;
    margin-left: 30px;
    font-weight: bold
}
.whiteBox .boxTitle span{
    color: #7b859d;
    display: block;
    margin: 20px 0
}
.whiteBox .boxTitle .date{
    display: inline-block;
    color: #7b859d;
}
.whiteBox .boxTitle .date span{
    margin: 0 20px;
    display: inline-block
}
.whiteBox .subtitle{
    
}
.whiteBox .subtitle h5{
    font-weight: bold;
    font-size: 19px;
    margin-bottom: 20px;
}
.whiteBox .subtitle .tags{
    
}
.whiteBox .subtitle .tags span{
    display: inline-block;
    padding: 5px 7px;
    background: #f7f7fb;
    border:1px solid #f7f7fb;
    color: #7b859d;
    border-radius: 5px;
    font-size: 14px;
    margin-top: 10px
}
.whiteBox .subtitle .tags span.active{
    color: #9992ff;
    border:1px solid #9992ff;
    background: #fff
}
.whiteBox .boxContent {
    color: #7b859d;
    margin-top: 30px
}
.whiteBox .boxContent p {
    margin-bottom: 30px;
    line-height: 1.9;
    width: 80%
}
.whiteBox .boxContent .attachment{
    
}
.whiteBox .boxContent .attachment a{
    margin-left: 30px;
    color: #796eff
}
.whiteBox .boxContent .contentFoot{
    display: inline-block;
    margin-left: 50px;
}
.whiteBox .boxContent .contentFoot span{
    display: block
}
.whiteBox .boxContent .contentFoot span:first-child{
    color: #5a647b;
    font-size: 17px;
    margin-bottom: 15px
}
.whiteBox .boxContent .contentFoot span:last-child{
}
 /* card */
.card{
    
}
.card h5{
    margin-bottom: 10px
}
.card h4{
    margin-bottom: 15px;
    font-weight: bold
}
.card .rating{
    margin-bottom: 30px
}
.card span {
    color: #7b859d;
    display: block;
    font-size: 14px;
}
.card .location,
.card .action{
    margin-bottom: 30px;
}
.card .action ul{
    
}
.card .action ul li {
    margin-bottom: 15px
}
.card .action ul li:last-child{
    margin-top: 35px;
    margin-bottom: 0
}
.card .action ul li img{
    display: inline-block;
    width: 30px;
    margin-left: 10px;
}
.card .action ul li span{
    display: inline-block;
}
.card .action ul li span:last-child{
    margin-right: 15px;
}
/* Setting
======================= */
.setting{
    margin: 30px 0 50px;
}
.setting .form{
    width: 75% ;
}

.setting form label{
    color: #000
}
.setting .form .formTitle{
    font-weight: bold;
    font-size: 17px;
    margin: 20px 0;
    
}
.setting input[type="submit"]{
    margin-top: 20px
}
@media(max-width:767px){
    .setting .form{
        width: 100% ;
    }
}
/* forgetpass 
========================== */
.forgetpass{
    padding: 70px 50px 0px;
}
.forgetpass h3 {
    font-weight: bold;
    font-size: 19px
}
.forgetpass form{
    width: 50%;
    margin: auto
}
.forgetpass button{
    margin: 20px auto 0;    
}
@media(max-width:767px){
    .forgetpass{
        padding: 40px 10px;
    }
    .forgetpass form{
        width: 100%;
    }
}
/* notRegister 
================== */
.notRegister a{
    color: #337ab7
}
/* animation
================================ */
.check_mark {
  width: 80px;
  height: 130px;
  margin: 0 auto;
} 
.sa-icon {
  width: 80px;
  height: 80px;
  border: 4px solid gray;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  border-radius: 50%;
  margin: 20px auto;
  padding: 0;
  position: relative;
  box-sizing: content-box;
}

.sa-icon.sa-success {
  border-color: #4CAF50;
}

.sa-icon.sa-success::before, .sa-icon.sa-success::after {
  content: '';
  -webkit-border-radius: 40px;
  border-radius: 40px;
  border-radius: 50%;
  position: absolute;
  width: 60px;
  height: 120px;
  background: white;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.sa-icon.sa-success::before {
  -webkit-border-radius: 120px 0 0 120px;
  border-radius: 120px 0 0 120px;
  top: -7px;
  left: -33px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 60px 60px;
  transform-origin: 60px 60px;
}

.sa-icon.sa-success::after {
  -webkit-border-radius: 0 120px 120px 0;
  border-radius: 0 120px 120px 0;
  top: -11px;
  left: 30px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0px 60px;
  transform-origin: 0px 60px;
}

.sa-icon.sa-success .sa-placeholder {
  width: 80px;
  height: 80px;
  border: 4px solid rgba(76, 175, 80, .5);
  -webkit-border-radius: 40px;
  border-radius: 40px;
  border-radius: 50%;
  box-sizing: content-box;
  position: absolute;
  left: -4px;
  top: -4px;
  z-index: 2;
}

.sa-icon.sa-success .sa-fix {
  width: 5px;
  height: 90px;
  background-color: white;
  position: absolute;
  left: 28px;
  top: 8px;
  z-index: 1;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.sa-icon.sa-success.animate::after {
  -webkit-animation: rotatePlaceholder 4.25s ease-in;
  animation: rotatePlaceholder 4.25s ease-in;
}

.sa-icon.sa-success {
  border-color: transparent\9;
}
.sa-icon.sa-success .sa-line.sa-tip {
  -ms-transform: rotate(45deg) \9;
}
.sa-icon.sa-success .sa-line.sa-long {
  -ms-transform: rotate(-45deg) \9;
}

.animateSuccessTip {
  -webkit-animation: animateSuccessTip 0.75s;
  animation: animateSuccessTip 0.75s;
}

.animateSuccessLong {
  -webkit-animation: animateSuccessLong 0.75s;
  animation: animateSuccessLong 0.75s;
}

@-webkit-keyframes animateSuccessLong {
  0% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  65% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  84% {
    width: 55px;
    right: 0px;
    top: 35px;
  }
  100% {
    width: 47px;
    right: 8px;
    top: 38px;
  }
}
@-webkit-keyframes animateSuccessTip {
  0% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  54% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  70% {
    width: 50px;
    left: -8px;
    top: 37px;
  }
  84% {
    width: 17px;
    left: 21px;
    top: 48px;
  }
  100% {
    width: 25px;
    left: 14px;
    top: 45px;
  }
}
@keyframes animateSuccessTip {
  0% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  54% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  70% {
    width: 50px;
    left: -8px;
    top: 37px;
  }
  84% {
    width: 17px;
    left: 21px;
    top: 48px;
  }
  100% {
    width: 25px;
    left: 14px;
    top: 45px;
  }
}

@keyframes animateSuccessLong {
  0% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  65% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  84% {
    width: 55px;
    right: 0px;
    top: 35px;
  }
  100% {
    width: 47px;
    right: 8px;
    top: 38px;
  }
}

.sa-icon.sa-success .sa-line {
  height: 5px;
  background-color: #4CAF50;
  display: block;
  border-radius: 2px;
  position: absolute;
  z-index: 2;
}

.sa-icon.sa-success .sa-line.sa-tip {
  width: 25px;
  left: 14px;
  top: 46px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.sa-icon.sa-success .sa-line.sa-long {
  width: 47px;
  right: 8px;
  top: 38px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

@-webkit-keyframes rotatePlaceholder {
  0% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  5% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  12% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg);
  }
  100% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg);
  }
}
@keyframes rotatePlaceholder {
  0% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  5% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  12% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg);
  }
  100% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg);
  }
}
/* proposals
=============================== */
.proposals{
    margin-bottom: 70px;
}
/* detail */
.proposals .detail{
    overflow: hidden;
    padding: 30px 0;
    display: block
}
.proposals .detail h3 {
    font-weight: bold;
    font-size: 21px;
    display: inline-block
}
.proposals .detail .f-left{
    
}
.proposals .detail a{
    margin:  0 20px
}
/* rating
================== */
ul.rating{
    display: inline-block;
    margin-left: 60px;
    font-size: 14px;
    color: #ffc103;
}
ul.rating li{
    display: inline-block;
    margin: 0
}
ul.rating li span {
    color: #000
}
ul.rating li svg{
    
}
/* editing 
========================== */
.editing{
    
}
.editing .times{
    margin: 30px auto;
    font-size: 25px;
    color: #b3bbcf;
    cursor: pointer
}
.editing .times svg {
   
}
.editing .whiteBox{
    padding: 30px 80px
}
.editing form{
    padding: 30px 0
}
.editing button.custom-btn{
    margin-top: 25px
}
@media(max-width:767px){
    .editing .whiteBox{
        padding: 30px 20px;
    }
}
/* custom upload */
.upload-picture {
    margin-top: 20px ;
    width: 100%;
    margin: auto;
    cursor: pointer
}
.upload-picture.add{
    text-align: center;
    margin: 20px 0;
}
.upload-picture.add .picture{
    display: block;
    background: #f7f7fb;
    color: #7b859d;
    border: 1px dashed #7b859d
}
.upload-picture img {   
    border-radius: 7px;
}
.upload-picture .photo{
    width: 100px;
    height: 100px;
    margin: 25px 0;
    position: relative;
}
.upload-picture .photo .remove{
    position: absolute;
    top: -24px;
    left: 43px;
    font-size: 24px;
    color: #f5808d;
    cursor: pointer
}
.upload-picture .picture {
    transition: 0.3s;
    position: relative;
    text-align: center;
    padding: 10px 30px;
    background-color: #d2d9e8;
    border-radius: 5px;
    color: #FFF;
    display: inline-block;
    cursor: pointer
}
.upload-picture .picture:hover {
    background-color: #263238;
    color: #aaa;
}
.upload-picture .picture:hover i {
    color: #aaa;
}
.upload-picture .picture input {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}
.upload-picture .picture p,
.upload-picture .picture svg {
    display: inline-block
}
/*progress
========================= */
.progress{
    margin: 20px 0;
    height: 7px;
}

/* Links
==========================*/
a{
    
}
a, a:hover, a:focus{
    text-decoration: none;
    color: inherit;
}
/* Headings 
========================== */
h1, h2, h3, h4, h5, h6 {
    display: block;
    margin: 0;
}
p{
    margin: 0;
}
/* form-group
=========================*/
.from-group{
    
}
.from-group .from-control{
    background: rgba(255,255,255,0.8);
    color: #222;
    border-radius: 35px;
    border: none;
    padding: 10px 20px;
}
/*Lists
==========================*/
ul {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}
/*nav-list*/
.nav-list{
    font-weight: bold
}
.nav-list li{
    display: inline-block;
    position: relative
}
.nav-list li a {
    display: inline-block;
    padding: 30px 30px 15px;
    position: relative;
    
}
.nav-list li a:after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 3px;
    width: 0;
    background: #0d5384;
    transition: all 0.3s ease-in-out;
    transform-origin: left
}
.nav-list li > a.active,
.nav-list li:hover > a{
    color: #0d5384;
}
.nav-list li > a.active:after,
.nav-list li:hover > a:after{
    width: 100%;
    right: auto;
    left: 0;
    transform-origin: right;
}

.nav-list li .mega-list{
    position: absolute;
    top: 130%;
    left: calc(50% - 70px);
    background: #FFF;
    box-shadow: 0 1px 10px 0 rgba(0,0,0,.15);
    width: 140px;
    text-align: center;
    transform-origin: top;
    transform: rotateX(90deg);
    transition: all 0.3s ease-in-out;
    z-index: 222;
}
.nav-list li .mega-list li a:after{
    content: none
}
.nav-list li:hover  .mega-list {
    transform: rotateX(0deg);
   
}
.nav-list li .mega-list li{
    display: inline-block
}
.nav-list li .mega-list li a{
    
}
.navbar-toggle{
    z-index: 5;
    position: absolute;
    top: 8px;
    right: 5px;
    font-size: 20px;
}
@media(max-width:996px){
    .nav-list li a{
        padding: 30px 17px 15px;   
    }
}
@media(max-width:767px){
    .nav-list{
        box-shadow: 0 1px 10px 0 rgba(0,0,0,.15);
    }
    .nav-list li{
        display: block;
    }
    .nav-list li a{
        display: block;
        text-align: center
    }
    .nav-list li .mega-list {
        position: static;
        top: auto;
        left: auto;
        box-shadow: inset 0 0 5px 3px #0002;
        visibility: visible;
        opacity: 1;
        width: 100%;
        display: none
    }
    .nav-list li:hover .mega-list {
        display: block
    }
    .nav-list li a:after {
        content: none;
    }
    .nav-list li .mega-list li{
        display: block;  
    }
    .nav-list li:hover{
        background: #0d5384;
    }
    .nav-list li:hover > a{
        color: #FFF
    }
}
/* foot-list */
.foot-list{
    
}
.foot-list li{
    display: inline-block;
    padding: 20px
}
.foot-list li  a{
    
}
/* foot-socail */
.foot-socail{
    margin-top: 10px;
    color: #FFF;
}
.foot-socail li{
    font-family: 18px;
    display: inline-block
}
.foot-socail li a{
    padding: 10px;
}
.foot-socail li a:hover .fa-facebook-f{
    color: #3b5998
}
.foot-socail li a:hover .fa-whatsapp{
    color: #128c7e
}
.foot-socail li a:hover .fa-twitter{
    color: #1da1f2
}
.foot-socail li a:hover .fa-instagram{
    color: #e1306c
}
.foot-socail li a:hover .fa-linkedin-in{
    color: #0077b5
}
/* package-list */
.package-list{
    padding: 20px 0
}
.package-list li{
    margin-bottom: 15px
}
.package-list li span{
    color: #ffc527
}
.package-list li:last-child{
    font-size: 30px;
    font-weight: bold;
    position: relative
}
.package-list li:last-child span{
    text-transform: uppercase;
    font-size: 15px;
    position: absolute;
    bottom: -15px;
    left: 40%
}
/* Images
=========================== */
img{
    display: block;
    max-width: 100%;
    height: auto;
}
/* Section Setting
============================ */ 
.section-lg{
    padding: 50px 0;
}

/* Nav
================================= */
nav{
    padding: 0 0 15px
}
nav .brand{
    padding-top: 15px;
}
nav .brand img{
    
}
/* Footer
=========================== */
/* top-footer*/
.top-footer{
    background: #4f5559;
    padding: 50px 0 80px;
    color: #FFF
}
.top-footer .brand{
    
}
.top-footer .brand img{
    display: inline-block
}
/* bottom-foot */
.bottom-foot{
    background: #3b4044;
    padding: 20px;
    color: #FFF
}
/* subscribe 
========================= */
.subscribe{
    background: linear-gradient(#0005,#0005),url(../images/subscribe.jpg);
    background-attachment: fixed;
    background-size: cover;
    color: #FFF;
}
.subscribe .form-subscribe{
    margin-top: 60px;
    background: #4f555966;
    padding: 30px;
    border-radius: 75px
}
.subscribe .form-subscribe input{
    width: 70%;
}
.subscribe .form-subscribe button{
    width: 20%;
    margin-left: 9%;
}
@media(max-width:996px){
    .subscribe .form-subscribe input{
        width: 60%;
    }
    .subscribe .form-subscribe button{
        width: 30%;
        margin-left: 9%;
    }
}
@media(max-width:570px){
    .subscribe .form-subscribe input{
        width: 100%;
    }
    .subscribe .form-subscribe button{
        width: 100%;
        margin-left: 0;
        margin-top: 10px;
    }
}
/* about-comapny 
======================*/
.about-comapny{
    
}
.about-comapny .about-img{
    
}
.about-comapny .about-img img{
    margin: 20px auto;
}
.about-comapny .about-contant{
    
}
.about-comapny .about-contant h2{
    font-weight: bold;
    margin-bottom: 20px
}
.about-comapny .about-contant p{
    margin-bottom: 20px;
}
/* about-comapny
==================== */
.service{
    background: linear-gradient(#0005,#0005),url(../images/service.jpg);
    background-attachment: fixed;
    background-size: cover;
    color: #FFF;
}
.service h3{
    
}
.service p {
    width: 60%;
    margin: 25px auto
}
.service .serv-item{
    border: 1px solid #fff5;
    padding: 20px 10px;
    margin-bottom: 20px;
    transition: all 0.3s ease-in-out;
}
.service .serv-item:hover{
    border-color: #FFF
}
.service .serv-item  svg{
    font-size: 25px;
    margin-bottom: 10px
}
.service .serv-item h4 {
    font-size: 25px;
}
.service .serv-item p {
    width: 80%;
    margin: 10px auto 
}
.service .serv-item a {
    font-weight: bold;
    transition: all 0.3s ease-in-out

}
.service .serv-item a:after{
    content: ">>";
    margin-left: 3px;
    transition: all 0.3s ease-in-out
}
.service .serv-item a:hover{
    color: #ffc527
}
.service .serv-item a:hover:after{
    margin-left: 5px
}
/* insights
========================== */
.insights{
    background: #ffc527
}
.insights .insight-item{
    box-shadow: 5px 5px 10px 0 rgba(0,0,0,.15);
    font-size: 25px;
    padding: 10px 10px 20px;
    background: #FFf;
    border-radius: 5px;
    margin-bottom: 20px;
    color: #0d5384;
    transition: all 0.3s ease-in-out
}
.insights .insight-item .icon{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid #0d5384;
    margin: 10px auto;
    line-height: 70px;
    transition: all 0.3s ease-in-out
}
.insights .insight-item .icon svg{
    font-size: 30px;
}
.insights .insight-item span{
    display: block;
}
.insights .insight-item h4{
    font-size: 22px;
    text-transform: uppercase;
}
.insights .insight-item:hover{
    box-shadow: 0px 0px 5px 0 rgba(0,0,0,.15);
}
.insights .insight-item:hover .icon {
    background: #0d5384;
    color: #fff
}
/* chooseus
========================== */
.chooseus{
    background: linear-gradient(#000a,#000a),url(../images/bg8.jpg);
    background-size: cover;
    color: #FFF;
}
.chooseus h3 {
    
}
.chooseus p {
    width: 60%;
    margin: 10px auto 50px
}
.chooseus .choose-item{
    margin-bottom: 20px;
}
.chooseus .choose-item svg{
    font-size: 40px;
    margin-bottom: 20px;
}
.chooseus .choose-item h3 {
    text-transform: uppercase;
    margin-bottom: 15px;
    font-weight: bold
}
.chooseus .choose-item p {
    width: 90%;
    margin: auto
}
/* packages
======================= */
.packages{
    
}
.packages .title-head{
    
}
.packages p{
    width: 60%;
    margin: 20px auto;
}
.packages .package-item{
    padding: 20px 10px;
    border: 1px solid #0d5384;
    margin: 20px 0;
    transition: all 0.3s ease-in-out;
}
.packages .package-item:hover{
    box-shadow: 0 1px 10px 0 rgba(0,0,0,.15);
}
.packages .package-item .package-head{
    border-bottom: 1px solid #DDD;
    padding: 10px;
    position: relative
}
.packages .package-item .package-head span.most{
    position: absolute;
    background: #0d5384;
    top: -20px;
    color: #FFF;
    padding: 0 10px;
    left: calc(50% - 75px);
    font-size: 12px;
    width: 150px;
}
.packages .package-item .package-head h4 {
    font-size: 22px;
    font-weight: bold
}
.packages .package-item .package-head span{
    color: #979797 ;
    text-transform: uppercase;
    font-size: 0.8em
}
.packages .package-item .package-body{
    
}
.packages .package-item .package-foot{
    
}
.packages .package-item .package-foot button{
    
}
@media(max-width:776px){
    .chooseus p,
    .packages p{
        width: 90%
    }
}
/* reviews
============================ */
.reviews{
    background: #f1f1f1;
    color: #222222;
    position: relative
}
.reviews p {
    
}
.review{
    margin: 50px auto;
    width: 450px;
}
.review .review-body{
    background: #FFF;
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative
}
.review .review-body:after{
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 8px;
    border-top-color: #FFF;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    top: 100%;
    left: 50px;
}
.review .review-body p{
    
}
.review .review-foot{
    background: #0d5384;
    color: #fff;
    padding: 20px 20px 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
}
.review .review-foot .review-img{
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 50%;
    float: left;
}
.review .review-foot .review-img img{
}
.review .review-foot .review-name{
    float: left;
    margin: 20px 20px 0;
}
.review .review-foot .review-name h4{
    font-weight: bold
}
.review .review-foot .review-name span{
    font-size: 15px
    
}
.reviews .control{
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%)
}
.reviews .control .next,
.reviews .control .prev{
    display: inline-block;
    cursor: pointer;
    margin: 0 10px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #0d5384;
    transition: all 0.2s ease-in-out
}
.reviews .control .next:hover,
.reviews .control .prev:hover{
    background: #0d5384;
    color: #FFF
}
@media(max-width:500px){
    .review{
        width: 100%
    }
}